# NBA Player Value based on Win-Shares and Salary

In [1]:
#import packages
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Create df from web source

In [2]:
#Creating df from url ensures up to date information as site is updated daily
url_stats = 'https://www.basketball-reference.com/leagues/NBA_2019_advanced.html'
html_stats = requests.get(url_stats).content
df_list_stats = pd.read_html(html_stats)
df = df_list_stats[-1]
df = pd.DataFrame(data = df)
print(df)
name_of_data_file = 'nba_player_stats.csv'
#saves file to csv
df.to_csv('nba_player_stats.csv')
df = pd.read_csv('nba_player_stats.csv')

      Rk                  Player  Pos  Age   Tm   G    MP   PER   TS%   3PAr  \
0      1            Alex Abrines   SG   25  OKC  31   588   6.3  .507   .809
1      2              Quincy Acy   PF   28  PHO  10   123   2.9  .379   .833
2      3            Jaylen Adams   PG   22  ATL  23   251   9.0  .543   .754
3      4            Steven Adams    C   25  OKC  69  2323  18.8  .602   .001
4      5             Bam Adebayo    C   21  MIA  70  1582  17.5  .626   .026
5      6               Deng Adel   SF   21  CLE  15   181   1.4  .369   .636
6      7  DeVaughn Akoon-Purcell   SG   25  DEN   7    22   8.3  .322   .400
7      8       LaMarcus Aldridge    C   33  SAS  70  2306  22.7  .574   .030
8      9            Rawle Alkins   SG   21  CHI   3     6  37.9  .375   .250
9     10           Grayson Allen   SG   23  UTA  31   292   4.5  .459   .640
10    11           Jarrett Allen    C   20  BRK  70  1866  18.9  .633   .085
11    12            Kadeem Allen   SG   26  NYK  13   296  14.8  .572   .229
12    13         Al-Farouq Aminu   PF   28  POR  70  2011  13.1  .576   .487
13    14         Justin Anderson   SF   25  ATL  37   283   8.0  .456   .469
14    15           Kyle Anderson   SF   25  MEM  43  1281  12.8  .569   .123
15    16           Ryan Anderson   PF   30  TOT  21   304   4.5  .431   .576
16    16           Ryan Anderson   PF   30  PHO  15   278   4.6  .423   .567
17    16           Ryan Anderson   PF   30  MIA   6    26   4.1  .509   .667
18    17            Ike Anigbogu    C   20  IND   3     6  -6.0  .000   .000
19    18   Giannis Antetokounmpo   PF   24  MIL  65  2144  30.7  .643   .155
20    19         Carmelo Anthony   PF   34  HOU  10   294  11.0  .513   .529
21    20              OG Anunoby   SF   21  TOR  60  1231  10.0  .544   .500
22    Rk                  Player  Pos  Age   Tm   G    MP   PER   TS%   3PAr
23    21        Ryan Arcidiacono   PG   24  CHI  71  1731  11.1  .598   .577
24    22            Trevor Ariza   SF   33  TOT  67  2328  12.0  .532   .588
25    22            Trevor Ariza   SF   33  PHO  26   884  10.5  .525   .612
26    22            Trevor Ariza   SF   33  WAS  41  1444  12.9  .535   .577
27    23           D.J. Augustin   PG   31  ORL  70  1942  15.7  .624   .472
28    24           Deandre Ayton    C   20  PHO  66  2043  20.7  .608   .005
29    25            Dwayne Bacon   SG   23  CHO  30   391  10.9  .590   .298
..   ...                     ...  ...  ...  ...  ..   ...   ...   ...    ...
671  491       Russell Westbrook   PG   30  OKC  62  2218  20.8  .498   .269
672  492           Derrick White   PG   24  SAS  56  1443  15.3  .568   .258
673  493             Okaro White   PF   26  WAS   3     6  -4.5  .000  1.000
674  494        Hassan Whiteside    C   29  MIA  61  1483  22.7  .545   .026
675  495          Andrew Wiggins   SF   23  MIN  61  2115  11.8  .480   .287
676  496           Alan Williams   PF   26  BRK   4    22  32.9  .595   .100
677  497           C.J. Williams   SG   28  MIN  12    90   7.3  .500   .423
678  498      Johnathan Williams    C   23  LAL  13   183  12.1  .567   .000
679  499        Kenrich Williams   SF   24  NOP  37   820   9.2  .492   .558
680  500            Lou Williams   SG   32  LAC  65  1723  21.9  .558   .254
681   Rk                  Player  Pos  Age   Tm   G    MP   PER   TS%   3PAr
682  501         Marvin Williams   PF   32  CHO  67  1931  12.7  .547   .586
683  502         Robert Williams    C   21  BOS  28   232  20.0  .742   .000
684  503           Troy Williams   SF   24  SAC  18   286  11.1  .550   .471
685  504             D.J. Wilson   PF   22  MIL  36   600  10.3  .522   .524
686  505         Justise Winslow   PF   22  MIA  61  1814  13.2  .517   .339
687  506          Christian Wood   PF   23  MIL  13    62  17.2  .585   .200
688  507            Delon Wright   PG   26  TOT  63  1284  14.3  .517   .299
689  507            Delon Wright   PG   26  TOR  49   897  14.6  .527   .307
690  507            Delon Wright   PG   26  MEM  14   387  13.7  .494   .279
691  508      Guerschon Yabusele   PF   23  BOS  34   184  12.5  .515   .350
692  509              Nick Young   SG   33  DEN   4    37   2.4  .500   .889
693  510          Thaddeus Young   PF   30  IND  71  2189  16.1  .561   .170
694  511              Trae Young   PG   20  ATL  71  2181  16.1  .537   .384
695  512             Cody Zeller    C   26  CHO  49  1243  17.3  .611   .064
696  513            Tyler Zeller    C   29  ATL   2    11   1.5  .000   .500
697  514              Ante Zizic    C   22  CLE  51   936  15.3  .580   .000
698  515             Ivica Zubac    C   21  TOT  48   818  18.3  .581   .000
699  515             Ivica Zubac    C   21  LAL  33   516  19.6  .633   .000
700  515             Ivica Zubac    C   21  LAC  15   302  16.1  .496   .000

     ...  Unnamed: 19   OWS  DWS    WS   WS/48 Unnamed: 24   OBPM  DBPM  \
0    ...          NaN   0.1  0.6   0.7    .054         NaN   -2.4  -0.9
1    ...          NaN  -0.1  0.1   0.0  -0.018         NaN   -5.7  -0.2
2    ...          NaN   0.1  0.1   0.2    .043         NaN   -1.7  -2.2
3    ...          NaN   4.6  3.6   8.2    .169         NaN    0.7   2.1
4    ...          NaN   2.9  2.6   5.5    .168         NaN   -0.5   3.3
5    ...          NaN  -0.3  0.0  -0.3  -0.074         NaN   -6.0  -1.7
6    ...          NaN  -0.1  0.0   0.0  -0.046         NaN   -4.2   0.7
7    ...          NaN   5.3  2.3   7.7    .159         NaN    1.1   0.3
8    ...          NaN   0.0  0.0   0.0    .353         NaN   20.1   7.1
9    ...          NaN  -0.4  0.3  -0.2  -0.025         NaN   -4.5  -3.4
10   ...          NaN   4.1  2.9   7.0    .180         NaN   -0.4   3.2
11   ...          NaN   0.4  0.2   0.6    .096         NaN   -0.1  -1.8
12   ...          NaN   2.7  2.4   5.1    .123         NaN    0.2   1.0
13   ...          NaN  -0.3  0.2   0.0  -0.005         NaN   -4.6  -0.9
14   ...          NaN   0.8  1.9   2.8    .104         NaN   -2.1   3.4
15   ...          NaN  -0.2  0.0  -0.2  -0.034         NaN   -4.3  -2.1
16   ...          NaN  -0.2  0.0  -0.2  -0.035         NaN   -4.4  -2.0
17   ...          NaN   0.0  0.0   0.0  -0.019         NaN   -3.8  -3.2
18   ...          NaN  -0.1  0.0  -0.1  -0.478         NaN  -22.6   8.6
19   ...          NaN   8.0  5.0  13.0    .291         NaN    5.7   5.1
20   ...          NaN   0.1  0.2   0.3    .043         NaN   -3.0  -3.1
21   ...          NaN   0.4  1.4   1.9    .073         NaN   -1.1   0.0
22   ...          NaN   OWS  DWS    WS   WS/48         NaN   OBPM  DBPM
23   ...          NaN   2.4  0.8   3.2    .089         NaN    0.0  -0.9
24   ...          NaN   1.2  1.3   2.5    .052         NaN   -0.2  -0.3
25   ...          NaN   0.2  0.5   0.7    .039         NaN   -1.2   0.4
26   ...          NaN   1.0  0.8   1.8    .060         NaN    0.5  -0.6
27   ...          NaN   4.5  1.6   6.0    .149         NaN    1.8  -2.1
28   ...          NaN   4.1  1.7   5.8    .137         NaN    0.3   0.5
29   ...          NaN   0.4  0.2   0.6    .072         NaN   -1.9  -2.4
..   ...          ...   ...  ...   ...     ...         ...    ...   ...
671  ...          NaN   0.9  4.4   5.3    .114         NaN    2.1   4.1
672  ...          NaN   1.7  1.5   3.2    .106         NaN    0.3   1.0
673  ...          NaN   0.0  0.0   0.0  -0.251         NaN  -11.0  -8.3
674  ...          NaN   1.7  3.4   5.2    .167         NaN   -2.4   3.0
675  ...          NaN  -0.8  1.1   0.3    .006         NaN   -2.1  -1.3
676  ...          NaN   0.1  0.1   0.1    .325         NaN    3.6   3.7
677  ...          NaN   0.0  0.0   0.0    .017         NaN   -2.7  -3.3
678  ...          NaN   0.2  0.1   0.4    .094         NaN   -2.3  -1.0
679  ...          NaN   0.2  0.7   0.9    .052         NaN   -1.4   0.4
680  ...          NaN   3.8  1.0   4.8    .134         NaN    3.6  -2.6
681  ...          NaN   OWS  DWS    WS   WS/48         NaN   OBPM  DBPM
682  ...          NaN   1.8  1.8   3.6    .090         NaN    0.0   0.4
683  ...          NaN   0.5  0.5   1.0    .215         NaN   -1.6   6.7
684  ...          NaN   0.2  0.3   0.5    .080         NaN   -2.0   0.1
685  ...          NaN   0.2  1.0   1.2    .095         NaN   -2.5   1.0
686  ...          NaN   0.5  2.3   2.8    .075         NaN   -0.7   0.9
687  ...          NaN   0.1  0.1   0.2    .148         NaN   -3.3  -4.1
688  ...          NaN   1.2  1.7   3.0    .111         NaN   -0.6   1.1
689  ...          NaN   1.1  1.2   2.3    .123         NaN   -0.2   1.2
690  ...          NaN   0.2  0.5   0.7    .083         NaN   -1.8   1.1
691  ...          NaN   0.1  0.3   0.3    .085         NaN   -2.5   0.6
692  ...          NaN   0.0  0.0   0.0  -0.020         NaN   -4.2  -2.7
693  ...          NaN   2.6  3.6   6.2    .135         NaN    0.6   2.2
694  ...          NaN   1.7  0.7   2.4    .052         NaN    1.1  -2.8
695  ...          NaN   2.7  1.3   4.0    .153         NaN    0.3   1.8
696  ...          NaN   0.0  0.0   0.0  -0.012         NaN   -6.7  -0.4
697  ...          NaN   1.2  0.3   1.5    .078         NaN   -2.3  -1.6
698  ...          NaN   1.4  1.0   2.3    .137         NaN   -1.6   0.5
699  ...          NaN   1.2  0.6   1.8    .164         NaN   -1.2   0.1
700  ...          NaN   0.2  0.4   0.6    .091         NaN   -2.2   1.2

       BPM  VORP
0     -3.3  -0.2
1     -5.8  -0.1
2     -3.9  -0.1
3      2.8   2.8
4      2.8   1.9
5     -7.7  -0.3
6     -3.6   0.0
7      1.4   2.0
8     27.2   0.0
9     -7.9  -0.4
10     2.8   2.2
11    -1.9   0.0
12     1.2   1.6
13    -5.5  -0.3
14     1.4   1.1
15    -6.4  -0.3
16    -6.4  -0.3
17    -7.0   0.0
18   -13.9   0.0
19    10.8   6.9
20    -6.1  -0.3
21    -1.1   0.3
22     BPM  VORP
23    -1.0   0.5
24    -0.4   0.9
25    -0.8   0.3
26    -0.1   0.7
27    -0.3   0.9
28     0.8   1.4
29    -4.3  -0.2
..     ...   ...
671    6.1   4.5
672    1.2   1.2
673  -19.3   0.0
674    0.6   1.0
675   -3.4  -0.7
676    7.3   0.1
677   -6.0  -0.1
678   -3.3  -0.1
679   -1.0   0.2
680    0.9   1.3
681    BPM  VORP
682    0.4   1.2
683    5.1   0.4
684   -1.9   0.0
685   -1.5   0.1
686    0.1   1.0
687   -7.4  -0.1
688    0.5   0.8
689    1.0   0.7
690   -0.7   0.1
691   -1.9   0.0
692   -6.9   0.0
693    2.8   2.7
694   -1.7   0.2
695    2.1   1.3
696   -7.1   0.0
697   -3.8  -0.4
698   -1.0   0.2
699   -1.1   0.1
700   -1.0   0.1

[701 rows x 29 columns]

In [3]:
#create df from downloaded csv of NBA player stats
#pulled data from Basketball-Reference.com

#df = pd.read_csv('D:\dudad\Documents\Data Science Career Track\Data Wrangling for Capstone 1\player_stats.csv')
#print(df)

In [4]:
#examine the data
#data is fairly clean directly from the source
df.head()

,Unnamed: 0,Rk,Player,Pos,Age,Tm,G,MP,PER,TS%,...,Unnamed: 19,OWS,DWS,WS,WS/48,Unnamed: 24,OBPM,DBPM,BPM,VORP
0,0,1,Alex Abrines,SG,25,OKC,31,588,6.3,.507,...,NaN,0.1,0.6,0.7,.055,NaN,-2.4,-0.8,-3.2,-0.2
1,1,2,Quincy Acy,PF,28,PHO,10,123,2.9,.379,...,NaN,-0.1,0.1,0.0,-0.018,NaN,-5.7,-0.1,-5.8,-0.1
2,2,3,Jaylen Adams,PG,22,ATL,23,251,9.0,.543,...,NaN,0.1,0.1,0.2,.043,NaN,-1.7,-2.2,-3.9,-0.1
3,3,4,Steven Adams,C,25,OKC,68,2298,18.7,.601,...,NaN,4.5,3.5,8.1,.168,NaN,0.7,2.1,2.8,2.8
4,4,5,Bam Adebayo,C,21,MIA,69,1553,17.6,.629,...,NaN,3.0,2.6,5.5,.172,NaN,-0.4,3.3,2.9,1.9

In [5]:
#remove unnamed columns from site used for formatting purposes
df = df.drop(columns=['Unnamed: 19', 'Unnamed: 24'])

In [6]:
#understanding how data was initially interpreted
df.get_dtype_counts()

int64      1
object    27
dtype: int64

In [7]:
df.dtypes

Unnamed: 0     int64
Rk            object
Player        object
Pos           object
Age           object
Tm            object
G             object
MP            object
PER           object
TS%           object
3PAr          object
FTr           object
ORB%          object
DRB%          object
TRB%          object
AST%          object
STL%          object
BLK%          object
TOV%          object
USG%          object
OWS           object
DWS           object
WS            object
WS/48         object
OBPM          object
DBPM          object
BPM           object
VORP          object
dtype: object

In [8]:
df['Player'] = df['Player'].astype(str)
print(df.dtypes)

Unnamed: 0     int64
Rk            object
Player        object
Pos           object
Age           object
Tm            object
G             object
MP            object
PER           object
TS%           object
3PAr          object
FTr           object
ORB%          object
DRB%          object
TRB%          object
AST%          object
STL%          object
BLK%          object
TOV%          object
USG%          object
OWS           object
DWS           object
WS            object
WS/48         object
OBPM          object
DBPM          object
BPM           object
VORP          object
dtype: object

## Breakdown of column names:

In [9]:
# Rank, Player Name, Position, Age, Team, Games, Minutes Played, Player Efficiency Rating,
# True Shooting Percentage, 3-point attempt rate, Free Throw Attempt Rate, Offensive Rebound Percentage,
# Defensive Rebound Percentage, Total Rebound Percentage, Assist Percentage, Steal Percentage, Block Percentage,
# Turnover Percentage, Usage Percentage, Offensive Win Shares, Defensive Win Shares, Win Shares, Win Shares Per 48 minutes,
# Offensive Box plus/minus, Defensive box plus/minus, Box plus/minus, Value over replacement player
#full definition of all columns can be found at https://www.basketball-reference.com/leagues/NBA_2019_advanced.html
list(df)

['Unnamed: 0',
 'Rk',
 'Player',
 'Pos',
 'Age',
 'Tm',
 'G',
 'MP',
 'PER',
 'TS%',
 '3PAr',
 'FTr',
 'ORB%',
 'DRB%',
 'TRB%',
 'AST%',
 'STL%',
 'BLK%',
 'TOV%',
 'USG%',
 'OWS',
 'DWS',
 'WS',
 'WS/48',
 'OBPM',
 'DBPM',
 'BPM',
 'VORP']

In [10]:
# Total missing values for each feature
print(df.isnull().sum())

Unnamed: 0    0
Rk            0
Player        0
Pos           0
Age           0
Tm            0
G             0
MP            0
PER           0
TS%           6
3PAr          8
FTr           8
ORB%          0
DRB%          0
TRB%          0
AST%          0
STL%          0
BLK%          0
TOV%          6
USG%          0
OWS           0
DWS           0
WS            0
WS/48         0
OBPM          0
DBPM          0
BPM           0
VORP          0
dtype: int64

In [11]:
#changing data type of Player column in df
df['Player'] = df['Player'].astype(str)

In [12]:
#check Player column data type
print(print(df['Player']))

0                Alex Abrines
1                  Quincy Acy
2                Jaylen Adams
3                Steven Adams
4                 Bam Adebayo
5                   Deng Adel
6      DeVaughn Akoon-Purcell
7           LaMarcus Aldridge
8                Rawle Alkins
9               Grayson Allen
10              Jarrett Allen
11               Kadeem Allen
12            Al-Farouq Aminu
13            Justin Anderson
14              Kyle Anderson
15              Ryan Anderson
16              Ryan Anderson
17              Ryan Anderson
18               Ike Anigbogu
19      Giannis Antetokounmpo
20            Carmelo Anthony
21                 OG Anunoby
22                     Player
23           Ryan Arcidiacono
24               Trevor Ariza
25               Trevor Ariza
26               Trevor Ariza
27              D.J. Augustin
28              Deandre Ayton
29               Dwayne Bacon
                ...
670         Russell Westbrook
671             Derrick White
672               Okaro White
673          Hassan Whiteside
674            Andrew Wiggins
675             Alan Williams
676             C.J. Williams
677        Johnathan Williams
678          Kenrich Williams
679              Lou Williams
680           Marvin Williams
681                    Player
682           Robert Williams
683             Troy Williams
684               D.J. Wilson
685           Justise Winslow
686            Christian Wood
687              Delon Wright
688              Delon Wright
689              Delon Wright
690        Guerschon Yabusele
691                Nick Young
692            Thaddeus Young
693                Trae Young
694               Cody Zeller
695              Tyler Zeller
696                Ante Zizic
697               Ivica Zubac
698               Ivica Zubac
699               Ivica Zubac
Name: Player, Length: 700, dtype: object
None

## Create dataframe for player salary information from Basketball Reference

### Pull data directly from website for freshness

In [13]:
url_salary = 'https://www.basketball-reference.com/contracts/players.html'
html_salary = requests.get(url_salary).content
df_list_salary = pd.read_html(html_salary)
df_salary = df_list_salary[-1]
print(df_salary)
#saves file to csv for offline use
df.to_csv('nba_player_contracts.csv')
df_salary = pd.read_csv('nba_player_contracts.csv')

    Unnamed: 0_level_0                   Salary Unnamed: 2_level_0  \
                    Rk                   Player                 Tm
0                    1            Stephen Curry                GSW
1                    2               Chris Paul                HOU
2                    3        Russell Westbrook                OKC
3                    4             LeBron James                LAL
4                    5            Blake Griffin                DET
5                    6           Gordon Hayward                BOS
6                    7               Kyle Lowry                TOR
7                    8              Paul George                OKC
8                    9              Mike Conley                MEM
9                   10             James Harden                HOU
10                  11             Kevin Durant                GSW
11                  12             Paul Millsap                DEN
12                  13               Al Horford                BOS
13                  14           Damian Lillard                POR
14                  15            DeMar DeRozan                SAS
15                  16               Chris Bosh                MIA
16                  17              Otto Porter                CHI
17                  18             Jrue Holiday                NOP
18                  19              CJ McCollum                POR
19                  20          Carmelo Anthony                ATL
20                 NaN                   Salary                NaN
21                  Rk                   Player                 Tm
22                  21           Andrew Wiggins                MIN
23                  22              Joel Embiid                PHI
24                  23             Bradley Beal                WAS
25                  24            Anthony Davis                NOP
26                  25           Andre Drummond                DET
27                  26         Hassan Whiteside                MIA
28                  27             Nikola Jokic                DEN
29                  28             Steven Adams                OKC
..                 ...                      ...                ...
577                526  Michael Carter-Williams                ORL
578                527            Isaiah Canaan                MIL
579                528         Cameron Reynolds                MIN
580                529              Mitch Creek                BRK
581                530             B.J. Johnson                ATL
582                531        Demetrius Jackson                BOS
583                532            Eric Moreland                TOR
584                533           Henry Ellenson                NYK
585                534              Gary Payton                WAS
586                535            Scotty Hopson                OKC
587                536            Charles Cooke                MIA
588                537             Andre Ingram                LAL
589                538             Kobi Simmons                CLE
590                539       Shaquille Harrison                PHO
591                540             Garlon Green                NOP
592                NaN                   Salary                NaN
593                 Rk                   Player                 Tm
594                541             Ray Spalding                PHO
595                542            Emanuel Terry                PHO
596                543          Richard Solomon                OKC
597                544            Emanuel Terry                MIA
598                545             Justin Bibbs                LAC
599                546            Stephan Hicks                IND
600                547            Chris Chiozza                HOU
601                548           Tahjere McCall                BRK
602                549            Jordan Sibert                ATL
603                550            Emanuel Terry                DEN
604                551            Troy Williams                NOP
605                552            Terry Larrier                DAL
606                553           Ding Yanyuhang                DAL

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
               2018-19            2019-20            2020-21
0          $37,457,154        $40,231,758        $43,006,362
1          $35,654,150        $38,506,482        $41,358,814
2          $35,654,150        $38,178,000        $41,006,000
3          $35,654,150        $37,436,858        $39,219,565
4          $32,088,932        $34,234,964        $36,595,996
5          $31,214,295        $32,700,690        $34,187,085
6          $31,200,000        $33,296,296                NaN
7          $30,560,700        $33,005,556        $35,450,412
8          $30,521,116        $32,511,623        $34,504,132
9          $30,431,854        $37,800,000        $40,824,000
10         $30,000,000        $31,500,000                NaN
11         $29,730,769        $30,500,000                NaN
12         $28,928,710        $30,123,015                NaN
13         $27,977,689        $29,802,321        $31,626,953
14         $27,739,975        $27,739,975        $27,739,975
15         $26,837,720                NaN                NaN
16         $26,011,913        $27,250,576        $28,489,239
17         $25,976,111        $26,131,111        $26,131,111
18         $25,759,766        $27,556,959        $29,354,152
19         $25,534,253                NaN                NaN
20                 NaN                NaN                NaN
21             2018-19            2019-20            2020-21
22         $25,467,250        $27,270,000        $29,290,000
23         $25,467,250        $27,270,000        $29,290,000
24         $25,434,263        $27,093,019        $28,751,775
25         $25,434,263        $27,093,019        $28,751,775
26         $25,434,263        $27,093,019        $28,751,775
27         $25,434,263        $27,093,018                NaN
28         $24,605,181        $26,573,595        $28,542,009
29         $24,157,304        $25,842,697        $27,528,090
..                 ...                ...                ...
577            $99,290                NaN                NaN
578            $99,290                NaN                NaN
579            $94,742                NaN                NaN
580            $94,742                NaN                NaN
581            $94,742                NaN                NaN
582            $92,857            $92,857            $92,857
583            $88,531                NaN                NaN
584            $85,458                NaN                NaN
585            $85,458                NaN                NaN
586            $85,458                NaN                NaN
587            $76,236                NaN                NaN
588            $76,236                NaN                NaN
589            $76,236                NaN                NaN
590            $50,000                NaN                NaN
591            $50,000                NaN                NaN
592                NaN                NaN                NaN
593            2018-19            2019-20            2020-21
594            $47,371                NaN                NaN
595            $47,371                NaN                NaN
596            $47,371                NaN                NaN
597            $47,371                NaN                NaN
598            $47,371                NaN                NaN
599            $47,371                NaN                NaN
600            $47,371                NaN                NaN
601            $47,371                NaN                NaN
602            $47,371                NaN                NaN
603            $35,000                NaN                NaN
604            $34,183                NaN                NaN
605             $6,000                NaN                NaN
606             $4,737                NaN                NaN

    Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0  \
               2021-22            2022-23            2023-24
0          $45,780,966                NaN                NaN
1          $44,211,146                NaN                NaN
2          $43,848,000        $46,662,000                NaN
3          $41,002,273                NaN                NaN
4          $38,957,028                NaN                NaN
5                  NaN                NaN                NaN
6                  NaN                NaN                NaN
7          $37,895,268                NaN                NaN
8                  NaN                NaN                NaN
9          $43,848,000        $46,872,000                NaN
10                 NaN                NaN                NaN
11                 NaN                NaN                NaN
12                 NaN                NaN                NaN
13                 NaN                NaN                NaN
14                 NaN                NaN                NaN
15                 NaN                NaN                NaN
16                 NaN                NaN                NaN
17         $27,020,000                NaN                NaN
18                 NaN                NaN                NaN
19                 NaN                NaN                NaN
20                 NaN                NaN                NaN
21             2021-22            2022-23            2023-24
22         $31,310,000        $33,330,000                NaN
23         $31,310,000        $33,330,000                NaN
24                 NaN                NaN                NaN
25                 NaN                NaN                NaN
26                 NaN                NaN                NaN
27                 NaN                NaN                NaN
28         $30,510,423        $32,478,837                NaN
29                 NaN                NaN                NaN
..                 ...                ...                ...
577                NaN                NaN                NaN
578                NaN                NaN                NaN
579                NaN                NaN                NaN
580                NaN                NaN                NaN
581                NaN                NaN                NaN
582            $92,857            $92,857                NaN
583                NaN                NaN                NaN
584                NaN                NaN                NaN
585                NaN                NaN                NaN
586                NaN                NaN                NaN
587                NaN                NaN                NaN
588                NaN                NaN                NaN
589                NaN                NaN                NaN
590                NaN                NaN                NaN
591                NaN                NaN                NaN
592                NaN                NaN                NaN
593            2021-22            2022-23            2023-24
594                NaN                NaN                NaN
595                NaN                NaN                NaN
596                NaN                NaN                NaN
597                NaN                NaN                NaN
598                NaN                NaN                NaN
599                NaN                NaN                NaN
600                NaN                NaN                NaN
601                NaN                NaN                NaN
602                NaN                NaN                NaN
603                NaN                NaN                NaN
604                NaN                NaN                NaN
605                NaN                NaN                NaN
606                NaN                NaN                NaN

    Unnamed: 9_level_0 Unnamed: 10_level_0
          Signed Using          Guaranteed
0          Bird Rights        $166,476,240
1                  NaN        $159,730,592
2          Bird Rights        $158,686,150
3                  NaN        $113,310,573
4          Bird Rights        $102,919,892
5            Cap space         $63,914,985
6          Bird Rights         $64,496,296
7       Maximum Salary         $99,016,668
8            Cap Space         $85,459,122
9          Bird Rights        $152,903,854
10                 NaN         $30,000,000
11           Cap space         $29,730,769
12           Cap Space         $28,928,710
13      1st Round Pick         $89,406,963
14           Cap Space         $55,479,950
15                 NaN         $26,837,720
16         Bird Rights         $53,262,489
17         Bird Rights         $78,238,333
18      1st Round Pick         $82,670,877
19                 NaN         $25,534,253
20                 NaN                 NaN
21        Signed Using          Guaranteed
22      1st Round Pick        $146,667,250
23      1st Round Pick         $25,467,250
24           Cap Space         $81,279,057
25      1st Round Pick         $52,527,282
26           Cap Space         $52,527,282
27           Cap Space         $25,434,263
28                 NaN        $142,710,045
29      1st Round Pick         $77,528,091
..                 ...                 ...
577    10-Day Contract             $99,290
578                NaN             $99,290
579    10-Day Contract             $94,742
580                NaN             $94,742
581    10-Day Contract             $94,742
582                NaN            $557,142
583    10-Day Contract             $88,531
584                NaN            $427,289
585                NaN             $85,458
586                NaN             $85,458
587    10-Day Contract             $76,236
588    10-Day Contract             $76,236
589                NaN             $76,236
590                NaN             $50,000
591                NaN             $50,000
592                NaN                 NaN
593       Signed Using          Guaranteed
594                NaN            $232,117
595                NaN             $47,371
596                NaN             $47,371
597                NaN             $47,371
598    10-Day Contract             $47,371
599                NaN             $47,371
600                NaN             $47,371
601                NaN             $47,371
602                NaN             $47,371
603                NaN             $35,000
604                NaN             $34,183
605                NaN              $6,000
606                NaN              $4,737

[607 rows x 11 columns]

In [14]:
#remove first row from table as this is a title row, not column names
df_salary.columns = df_salary.columns.droplevel(0)
print(df_salary)

AttributeError: 'Index' object has no attribute 'droplevel'

In [ ]:
#remove rows that are utilized as continued header row
df.drop(df.index[22], inplace = True)
print(df)

In [ ]:
#create df_salary from nba player salaries data from Basketball Reference
#df_salary = pd.read_csv('D:\dudad\Documents\Data Science Career Track\Data Wrangling for Capstone 1\player_salary.csv')
#print(df_salary)

In [ ]:
df_salary.head()

In [ ]:
# Total missing values for each feature
print(df_salary.isnull().sum())

In [ ]:
cols_stats = list(df.columns)

In [ ]:
print(cols_stats)

In [ ]:
cols_salary = list(df_salary.columns)

In [ ]:
print(cols_salary)

## Converting columns to correct datatype for future analysis

In [ ]:
#df column data is not correct type
print(type(df['WS']))

In [ ]:
#found another header row at row 48, removing
df.drop(df.index[48], inplace = True)
print(df)

In [ ]:
#found another header row at row 70, removing
df.drop(df.index[70], inplace = True)
print(df)

In [ ]:
#found another header row at row 99, removing
df.drop(df.index[99], inplace = True)

In [ ]:
#found another header row at row 128, removing
df.drop(df.index[128], inplace = True)

In [ ]:
#found another header row at row 150, removing
df.drop(df.index[150], inplace = True)

In [ ]:
#found another header row at row 176, removing
df.drop(df.index[176], inplace = True)

In [ ]:
#found another header row at row 204, removing
df.drop(df.index[204], inplace = True)

In [ ]:
#found another header row at row 228, removing
df.drop(df.index[228], inplace = True)

In [ ]:
#found another header row at row 252, removing
df.drop(df.index[252], inplace = True)

In [ ]:
#found another header row at row 279, removing
df.drop(df.index[279], inplace = True)

In [ ]:
#found another header row at row 303, removing
df.drop(df.index[303], inplace = True)

In [ ]:
#found another header row at row 333, removing
df.drop(df.index[333], inplace = True)

In [ ]:
#found another header row at row 363, removing
df.drop(df.index[363], inplace = True)

In [ ]:
#found another header row at row 387, removing
df.drop(df.index[387], inplace = True)

In [ ]:
#found another header row at row 420, removing
df.drop(df.index[420], inplace = True)

In [ ]:
#found another header row at row 444, removing
df.drop(df.index[444], inplace = True)

In [ ]:
#found another header row at row 470, removing
df.drop(df.index[470], inplace = True)

In [ ]:
#found another header row at row 496, removing
df.drop(df.index[496], inplace = True)

In [ ]:
#found another header row at row 522, removing
df.drop(df.index[522], inplace = True)

In [ ]:
#found another header row at row 546, removing
df.drop(df.index[546], inplace = True)

In [ ]:
#found another header row at row 580, removing
df.drop(df.index[580], inplace = True)

In [ ]:
#found another header row at row 606, removing
df.drop(df.index[606], inplace = True)

In [ ]:
#found another header row at row 628, removing
df.drop(df.index[628], inplace = True)

In [ ]:
#found another header row at row 648, removing
df.drop(df.index[648], inplace = True)

In [ ]:
#view df after removing header rows throughout df
print(df)

In [ ]:
print(df.isnull().sum())

In [ ]:
#change necessary columns to correct type
df[["Age","G","MP", "PER", "TS%", "3PAr", "FTr", "ORB%", "DRB%", "TRB%", "AST%", "STL%", "BLK%", "TOV%", "USG%", 
    "OWS","DWS", "WS", "WS/48", "OBPM", "DBPM", "BPM", "VORP"]] = df[["Rk", "Age","G","MP", "PER", "TS%", "3PAr", "FTr", "ORB%", "DRB%", "TRB%", "AST%", "STL%", "BLK%", "TOV%", "USG%", 
    "OWS","DWS", "WS", "WS/48", "OBPM", "DBPM", "BPM", "VORP"]].apply(pd.to_numeric)

In [ ]:
df['WS'].max()

In [ ]:
df['WS'].min()