## NBA Player Value based on Win-Shares and Salary

In [3]:
#import packages
import requests
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

#### Time stamping the CSV since it does update

In [4]:
from datetime import datetime
import re

now = datetime.now() # current date and time
date_time = str(now.strftime("%m/%d/%Y, %H:%M:%S"))
date_time = date_time[:10]

s = "Example String"
date_time = re.sub('[/]', '-', date_time)
print("Date for CSV data mining of NBA stats:", date_time)

Date for CSV data mining of NBA stats: 03-18-2019

#### Create Dataframe from Web source

##### Check to see if you can find the stats file in the directory. The file name should be something like 'nba_player_stats_03-13-2019.csv'.

In [5]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is 00A3-EBD9

 Directory of C:\Users\dudad\Documents\Data Science Career Track

03/18/2019  05:28 PM    <DIR>          .
03/18/2019  05:28 PM    <DIR>          ..
03/18/2019  05:24 PM    <DIR>          .ipynb_checkpoints
03/11/2019  06:01 AM    <DIR>          Data Wrangling
03/12/2019  06:13 PM            70,931 NBA Player Value Data Wrangling.ipynb
03/18/2019  05:12 AM            60,165 NBA Player Value.ipynb
03/18/2019  05:28 PM            44,163 NBA Player Value-Copy1.ipynb
03/18/2019  05:10 AM            94,179 nba_player_contracts.csv
03/18/2019  05:10 AM            92,902 nba_player_stats.csv
03/11/2019  05:40 AM            41,072 player_salary.csv
03/18/2019  05:23 PM             6,475 PlayerMiningFile.ipynb
02/25/2019  05:34 AM    <DIR>          SQL Mini Project
               7 File(s)        409,887 bytes
               5 Dir(s)  175,596,068,864 bytes free

In [6]:
def wrangle_nba_stats_data(dataframe_to_read='', remine_data=True):
    """
    This function either reads in a specificed NBA dataframe, or you can scrape it, wrangle it,
    then create a pandas csv while saving it for further use. The reason you want to re-wrangle the data
    is because the stats may update and change depending on the date it is collected.
    
    Args:
        remine_data: a boolean request to see if you do or do not want to remine the data.
        dataframe_to_read: if you say remine_data is False then just give a string name 'nba_stas_2019.csv'
        
    Returns:
        a clean dataframe of the stats of the 2019 points per player.
        
    """
    
    
    if dataframe_to_read is True:
        url_stats = 'https://www.basketball-reference.com/leagues/NBA_2019_advanced.html'
        html_stats = requests.get(url_stats).content
        #Convert Request
        df_list_stats = pd.read_html(html_stats)
        
        df = df_list_stats[-1]
        df = pd.DataFrame(data = df)

        file_name = 'nba_player_stats_' +date_time
        #saves file to csv
        df.to_csv('nba_player_stats_' +date_time+'.csv', sep=',', encoding='utf-8', index=False)
        
        # Return the Pandas dataframe
        return df
    
    else:
        # Try to see if there is a valid arguement for csv to be there.
        try:
            df = pd.read_csv(dataframe_to_read)
            return df
        
        #If not just recollect the data.
        except:
            return wrangle_nba_stats_data(remine_data=True)

In [ ]:
df = wrangle_nba_stats_data(dataframe_to_read='nba_player_stats_03-13-2019.csv', remine_data=False)
df.head(5)

In [7]:
df.columns

NameError: name 'df' is not defined

In [5]:
#remove unnamed columns from site used for formatting purposes
df = df.drop(columns=['Unnamed: 19', 'Unnamed: 24'])

In [6]:
#understanding how data was initially interpreted
df.get_dtype_counts()

int64      1
object    27
dtype: int64

In [7]:
df.dtypes

Unnamed: 0     int64
Rk            object
Player        object
Pos           object
Age           object
Tm            object
G             object
MP            object
PER           object
TS%           object
3PAr          object
FTr           object
ORB%          object
DRB%          object
TRB%          object
AST%          object
STL%          object
BLK%          object
TOV%          object
USG%          object
OWS           object
DWS           object
WS            object
WS/48         object
OBPM          object
DBPM          object
BPM           object
VORP          object
dtype: object

In [8]:
df['Player'] = df['Player'].astype(str)
print(df.dtypes)

Unnamed: 0     int64
Rk            object
Player        object
Pos           object
Age           object
Tm            object
G             object
MP            object
PER           object
TS%           object
3PAr          object
FTr           object
ORB%          object
DRB%          object
TRB%          object
AST%          object
STL%          object
BLK%          object
TOV%          object
USG%          object
OWS           object
DWS           object
WS            object
WS/48         object
OBPM          object
DBPM          object
BPM           object
VORP          object
dtype: object

## Breakdown of column names:

In [9]:
# Rank, Player Name, Position, Age, Team, Games, Minutes Played, Player Efficiency Rating,
# True Shooting Percentage, 3-point attempt rate, Free Throw Attempt Rate, Offensive Rebound Percentage,
# Defensive Rebound Percentage, Total Rebound Percentage, Assist Percentage, Steal Percentage, Block Percentage,
# Turnover Percentage, Usage Percentage, Offensive Win Shares, Defensive Win Shares, Win Shares, Win Shares Per 48 minutes,
# Offensive Box plus/minus, Defensive box plus/minus, Box plus/minus, Value over replacement player
#full definition of all columns can be found at https://www.basketball-reference.com/leagues/NBA_2019_advanced.html
list(df)

['Unnamed: 0',
 'Rk',
 'Player',
 'Pos',
 'Age',
 'Tm',
 'G',
 'MP',
 'PER',
 'TS%',
 '3PAr',
 'FTr',
 'ORB%',
 'DRB%',
 'TRB%',
 'AST%',
 'STL%',
 'BLK%',
 'TOV%',
 'USG%',
 'OWS',
 'DWS',
 'WS',
 'WS/48',
 'OBPM',
 'DBPM',
 'BPM',
 'VORP']

In [10]:
# Total missing values for each feature
print(df.isnull().sum())

Unnamed: 0    0
Rk            0
Player        0
Pos           0
Age           0
Tm            0
G             0
MP            0
PER           0
TS%           6
3PAr          8
FTr           8
ORB%          0
DRB%          0
TRB%          0
AST%          0
STL%          0
BLK%          0
TOV%          6
USG%          0
OWS           0
DWS           0
WS            0
WS/48         0
OBPM          0
DBPM          0
BPM           0
VORP          0
dtype: int64

In [11]:
#changing data type of Player column in df
df['Player'] = df['Player'].astype(str)

In [12]:
#check Player column data type
print(print(df['Player']))

0                Alex Abrines
1                  Quincy Acy
2                Jaylen Adams
3                Steven Adams
4                 Bam Adebayo
5                   Deng Adel
6      DeVaughn Akoon-Purcell
7           LaMarcus Aldridge
8                Rawle Alkins
9               Grayson Allen
10              Jarrett Allen
11               Kadeem Allen
12            Al-Farouq Aminu
13            Justin Anderson
14              Kyle Anderson
15              Ryan Anderson
16              Ryan Anderson
17              Ryan Anderson
18               Ike Anigbogu
19      Giannis Antetokounmpo
20            Carmelo Anthony
21                 OG Anunoby
22                     Player
23           Ryan Arcidiacono
24               Trevor Ariza
25               Trevor Ariza
26               Trevor Ariza
27              D.J. Augustin
28              Deandre Ayton
29               Dwayne Bacon
                ...
670         Russell Westbrook
671             Derrick White
672               Okaro White
673          Hassan Whiteside
674            Andrew Wiggins
675             Alan Williams
676             C.J. Williams
677        Johnathan Williams
678          Kenrich Williams
679              Lou Williams
680           Marvin Williams
681                    Player
682           Robert Williams
683             Troy Williams
684               D.J. Wilson
685           Justise Winslow
686            Christian Wood
687              Delon Wright
688              Delon Wright
689              Delon Wright
690        Guerschon Yabusele
691                Nick Young
692            Thaddeus Young
693                Trae Young
694               Cody Zeller
695              Tyler Zeller
696                Ante Zizic
697               Ivica Zubac
698               Ivica Zubac
699               Ivica Zubac
Name: Player, Length: 700, dtype: object
None

## Create dataframe for player salary information from Basketball Reference

### Pull data directly from website for freshness

In [13]:
url_salary = 'https://www.basketball-reference.com/contracts/players.html'
html_salary = requests.get(url_salary).content
df_list_salary = pd.read_html(html_salary)
df_salary = df_list_salary[-1]
print(df_salary)
#saves file to csv for offline use
df.to_csv('nba_player_contracts.csv')
df_salary = pd.read_csv('nba_player_contracts.csv')

    Unnamed: 0_level_0                   Salary Unnamed: 2_level_0  \
                    Rk                   Player                 Tm
0                    1            Stephen Curry                GSW
1                    2               Chris Paul                HOU
2                    3        Russell Westbrook                OKC
3                    4             LeBron James                LAL
4                    5            Blake Griffin                DET
5                    6           Gordon Hayward                BOS
6                    7               Kyle Lowry                TOR
7                    8              Paul George                OKC
8                    9              Mike Conley                MEM
9                   10             James Harden                HOU
10                  11             Kevin Durant                GSW
11                  12             Paul Millsap                DEN
12                  13               Al Horford                BOS
13                  14           Damian Lillard                POR
14                  15            DeMar DeRozan                SAS
15                  16               Chris Bosh                MIA
16                  17              Otto Porter                CHI
17                  18             Jrue Holiday                NOP
18                  19              CJ McCollum                POR
19                  20          Carmelo Anthony                ATL
20                 NaN                   Salary                NaN
21                  Rk                   Player                 Tm
22                  21           Andrew Wiggins                MIN
23                  22              Joel Embiid                PHI
24                  23             Bradley Beal                WAS
25                  24            Anthony Davis                NOP
26                  25           Andre Drummond                DET
27                  26         Hassan Whiteside                MIA
28                  27             Nikola Jokic                DEN
29                  28             Steven Adams                OKC
..                 ...                      ...                ...
577                526  Michael Carter-Williams                ORL
578                527            Isaiah Canaan                MIL
579                528         Cameron Reynolds                MIN
580                529              Mitch Creek                BRK
581                530             B.J. Johnson                ATL
582                531        Demetrius Jackson                BOS
583                532            Eric Moreland                TOR
584                533           Henry Ellenson                NYK
585                534              Gary Payton                WAS
586                535            Scotty Hopson                OKC
587                536            Charles Cooke                MIA
588                537             Andre Ingram                LAL
589                538             Kobi Simmons                CLE
590                539       Shaquille Harrison                PHO
591                540             Garlon Green                NOP
592                NaN                   Salary                NaN
593                 Rk                   Player                 Tm
594                541             Ray Spalding                PHO
595                542            Emanuel Terry                PHO
596                543          Richard Solomon                OKC
597                544            Emanuel Terry                MIA
598                545             Justin Bibbs                LAC
599                546            Stephan Hicks                IND
600                547            Chris Chiozza                HOU
601                548           Tahjere McCall                BRK
602                549            Jordan Sibert                ATL
603                550            Emanuel Terry                DEN
604                551            Troy Williams                NOP
605                552            Terry Larrier                DAL
606                553           Ding Yanyuhang                DAL

    Unnamed: 3_level_0 Unnamed: 4_level_0 Unnamed: 5_level_0  \
               2018-19            2019-20            2020-21
0          $37,457,154        $40,231,758        $43,006,362
1          $35,654,150        $38,506,482        $41,358,814
2          $35,654,150        $38,178,000        $41,006,000
3          $35,654,150        $37,436,858        $39,219,565
4          $32,088,932        $34,234,964        $36,595,996
5          $31,214,295        $32,700,690        $34,187,085
6          $31,200,000        $33,296,296                NaN
7          $30,560,700        $33,005,556        $35,450,412
8          $30,521,116        $32,511,623        $34,504,132
9          $30,431,854        $37,800,000        $40,824,000
10         $30,000,000        $31,500,000                NaN
11         $29,730,769        $30,500,000                NaN
12         $28,928,710        $30,123,015                NaN
13         $27,977,689        $29,802,321        $31,626,953
14         $27,739,975        $27,739,975        $27,739,975
15         $26,837,720                NaN                NaN
16         $26,011,913        $27,250,576        $28,489,239
17         $25,976,111        $26,131,111        $26,131,111
18         $25,759,766        $27,556,959        $29,354,152
19         $25,534,253                NaN                NaN
20                 NaN                NaN                NaN
21             2018-19            2019-20            2020-21
22         $25,467,250        $27,270,000        $29,290,000
23         $25,467,250        $27,270,000        $29,290,000
24         $25,434,263        $27,093,019        $28,751,775
25         $25,434,263        $27,093,019        $28,751,775
26         $25,434,263        $27,093,019        $28,751,775
27         $25,434,263        $27,093,018                NaN
28         $24,605,181        $26,573,595        $28,542,009
29         $24,157,304        $25,842,697        $27,528,090
..                 ...                ...                ...
577            $99,290                NaN                NaN
578            $99,290                NaN                NaN
579            $94,742                NaN                NaN
580            $94,742                NaN                NaN
581            $94,742                NaN                NaN
582            $92,857            $92,857            $92,857
583            $88,531                NaN                NaN
584            $85,458                NaN                NaN
585            $85,458                NaN                NaN
586            $85,458                NaN                NaN
587            $76,236                NaN                NaN
588            $76,236                NaN                NaN
589            $76,236                NaN                NaN
590            $50,000                NaN                NaN
591            $50,000                NaN                NaN
592                NaN                NaN                NaN
593            2018-19            2019-20            2020-21
594            $47,371                NaN                NaN
595            $47,371                NaN                NaN
596            $47,371                NaN                NaN
597            $47,371                NaN                NaN
598            $47,371                NaN                NaN
599            $47,371                NaN                NaN
600            $47,371                NaN                NaN
601            $47,371                NaN                NaN
602            $47,371                NaN                NaN
603            $35,000                NaN                NaN
604            $34,183                NaN                NaN
605             $6,000                NaN                NaN
606             $4,737                NaN                NaN

    Unnamed: 6_level_0 Unnamed: 7_level_0 Unnamed: 8_level_0  \
               2021-22            2022-23            2023-24
0          $45,780,966                NaN                NaN
1          $44,211,146                NaN                NaN
2          $43,848,000        $46,662,000                NaN
3          $41,002,273                NaN                NaN
4          $38,957,028                NaN                NaN
5                  NaN                NaN                NaN
6                  NaN                NaN                NaN
7          $37,895,268                NaN                NaN
8                  NaN                NaN                NaN
9          $43,848,000        $46,872,000                NaN
10                 NaN                NaN                NaN
11                 NaN                NaN                NaN
12                 NaN                NaN                NaN
13                 NaN                NaN                NaN
14                 NaN                NaN                NaN
15                 NaN                NaN                NaN
16                 NaN                NaN                NaN
17         $27,020,000                NaN                NaN
18                 NaN                NaN                NaN
19                 NaN                NaN                NaN
20                 NaN                NaN                NaN
21             2021-22            2022-23            2023-24
22         $31,310,000        $33,330,000                NaN
23         $31,310,000        $33,330,000                NaN
24                 NaN                NaN                NaN
25                 NaN                NaN                NaN
26                 NaN                NaN                NaN
27                 NaN                NaN                NaN
28         $30,510,423        $32,478,837                NaN
29                 NaN                NaN                NaN
..                 ...                ...                ...
577                NaN                NaN                NaN
578                NaN                NaN                NaN
579                NaN                NaN                NaN
580                NaN                NaN                NaN
581                NaN                NaN                NaN
582            $92,857            $92,857                NaN
583                NaN                NaN                NaN
584                NaN                NaN                NaN
585                NaN                NaN                NaN
586                NaN                NaN                NaN
587                NaN                NaN                NaN
588                NaN                NaN                NaN
589                NaN                NaN                NaN
590                NaN                NaN                NaN
591                NaN                NaN                NaN
592                NaN                NaN                NaN
593            2021-22            2022-23            2023-24
594                NaN                NaN                NaN
595                NaN                NaN                NaN
596                NaN                NaN                NaN
597                NaN                NaN                NaN
598                NaN                NaN                NaN
599                NaN                NaN                NaN
600                NaN                NaN                NaN
601                NaN                NaN                NaN
602                NaN                NaN                NaN
603                NaN                NaN                NaN
604                NaN                NaN                NaN
605                NaN                NaN                NaN
606                NaN                NaN                NaN

    Unnamed: 9_level_0 Unnamed: 10_level_0
          Signed Using          Guaranteed
0          Bird Rights        $166,476,240
1                  NaN        $159,730,592
2          Bird Rights        $158,686,150
3                  NaN        $113,310,573
4          Bird Rights        $102,919,892
5            Cap space         $63,914,985
6          Bird Rights         $64,496,296
7       Maximum Salary         $99,016,668
8            Cap Space         $85,459,122
9          Bird Rights        $152,903,854
10                 NaN         $30,000,000
11           Cap space         $29,730,769
12           Cap Space         $28,928,710
13      1st Round Pick         $89,406,963
14           Cap Space         $55,479,950
15                 NaN         $26,837,720
16         Bird Rights         $53,262,489
17         Bird Rights         $78,238,333
18      1st Round Pick         $82,670,877
19                 NaN         $25,534,253
20                 NaN                 NaN
21        Signed Using          Guaranteed
22      1st Round Pick        $146,667,250
23      1st Round Pick         $25,467,250
24           Cap Space         $81,279,057
25      1st Round Pick         $52,527,282
26           Cap Space         $52,527,282
27           Cap Space         $25,434,263
28                 NaN        $142,710,045
29      1st Round Pick         $77,528,091
..                 ...                 ...
577    10-Day Contract             $99,290
578                NaN             $99,290
579    10-Day Contract             $94,742
580                NaN             $94,742
581    10-Day Contract             $94,742
582                NaN            $557,142
583    10-Day Contract             $88,531
584                NaN            $427,289
585                NaN             $85,458
586                NaN             $85,458
587    10-Day Contract             $76,236
588    10-Day Contract             $76,236
589                NaN             $76,236
590                NaN             $50,000
591                NaN             $50,000
592                NaN                 NaN
593       Signed Using          Guaranteed
594                NaN            $232,117
595                NaN             $47,371
596                NaN             $47,371
597                NaN             $47,371
598    10-Day Contract             $47,371
599                NaN             $47,371
600                NaN             $47,371
601                NaN             $47,371
602                NaN             $47,371
603                NaN             $35,000
604                NaN             $34,183
605                NaN              $6,000
606                NaN              $4,737

[607 rows x 11 columns]

In [14]:
#remove first row from table as this is a title row, not column names
df_salary.columns = df_salary.columns.droplevel(0)
print(df_salary)

AttributeError: 'Index' object has no attribute 'droplevel'

In [ ]:
#remove rows that are utilized as continued header row
df.drop(df.index[22], inplace = True)
print(df)

In [ ]:
#create df_salary from nba player salaries data from Basketball Reference
#df_salary = pd.read_csv('D:\dudad\Documents\Data Science Career Track\Data Wrangling for Capstone 1\player_salary.csv')
#print(df_salary)

In [ ]:
df_salary.head()

In [ ]:
# Total missing values for each feature
print(df_salary.isnull().sum())

In [ ]:
cols_stats = list(df.columns)

In [ ]:
print(cols_stats)

In [ ]:
cols_salary = list(df_salary.columns)

In [ ]:
print(cols_salary)

## Converting columns to correct datatype for future analysis

In [ ]:
#df column data is not correct type
print(type(df['WS']))

In [ ]:
#found another header row at row 48, removing
df.drop(df.index[48], inplace = True)
print(df)

In [ ]:
#found another header row at row 70, removing
df.drop(df.index[70], inplace = True)
print(df)

In [ ]:
#found another header row at row 99, removing
df.drop(df.index[99], inplace = True)

In [ ]:
#found another header row at row 128, removing
df.drop(df.index[128], inplace = True)

In [ ]:
#found another header row at row 150, removing
df.drop(df.index[150], inplace = True)

In [ ]:
#found another header row at row 176, removing
df.drop(df.index[176], inplace = True)

In [ ]:
#found another header row at row 204, removing
df.drop(df.index[204], inplace = True)

In [ ]:
#found another header row at row 228, removing
df.drop(df.index[228], inplace = True)

In [ ]:
#found another header row at row 252, removing
df.drop(df.index[252], inplace = True)

In [ ]:
#found another header row at row 279, removing
df.drop(df.index[279], inplace = True)

In [ ]:
#found another header row at row 303, removing
df.drop(df.index[303], inplace = True)

In [ ]:
#found another header row at row 333, removing
df.drop(df.index[333], inplace = True)

In [ ]:
#found another header row at row 363, removing
df.drop(df.index[363], inplace = True)

In [ ]:
#found another header row at row 387, removing
df.drop(df.index[387], inplace = True)

In [ ]:
#found another header row at row 420, removing
df.drop(df.index[420], inplace = True)

In [ ]:
#found another header row at row 444, removing
df.drop(df.index[444], inplace = True)

In [ ]:
#found another header row at row 470, removing
df.drop(df.index[470], inplace = True)

In [ ]:
#found another header row at row 496, removing
df.drop(df.index[496], inplace = True)

In [ ]:
#found another header row at row 522, removing
df.drop(df.index[522], inplace = True)

In [ ]:
#found another header row at row 546, removing
df.drop(df.index[546], inplace = True)

In [ ]:
#found another header row at row 580, removing
df.drop(df.index[580], inplace = True)

In [ ]:
#found another header row at row 606, removing
df.drop(df.index[606], inplace = True)

In [ ]:
#found another header row at row 628, removing
df.drop(df.index[628], inplace = True)

In [ ]:
#found another header row at row 648, removing
df.drop(df.index[648], inplace = True)

In [ ]:
#view df after removing header rows throughout df
print(df)

In [ ]:
print(df.isnull().sum())

In [ ]:
#change necessary columns to correct type
df[["Age","G","MP", "PER", "TS%", "3PAr", "FTr", "ORB%", "DRB%", "TRB%", "AST%", "STL%", "BLK%", "TOV%", "USG%", 
    "OWS","DWS", "WS", "WS/48", "OBPM", "DBPM", "BPM", "VORP"]] = df[["Rk", "Age","G","MP", "PER", "TS%", "3PAr", "FTr", "ORB%", "DRB%", "TRB%", "AST%", "STL%", "BLK%", "TOV%", "USG%", 
    "OWS","DWS", "WS", "WS/48", "OBPM", "DBPM", "BPM", "VORP"]].apply(pd.to_numeric)

In [ ]:
df['WS'].max()

In [ ]:
df['WS'].min()